node_modules/
dist/
build/
*.log
.DS_Store
/.env
.env.local
.envrc
.idea/
.vscode/
npm-debug.log*
/tmp/
/.cache
/.bundle
*.tgz
coverage/
.dockerignore

/.devenv/
/.direnv/
/.idea/
/bin/
/config.yaml
/docker-compose.override.yaml
/var/
/vendor/
